body{
    background-color: white;
}
.form-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
    background-color: #f0f0f0;
  }

  .form-container h1 {
    margin: 0;
  }
  
  .form-container p {
    margin: 0;
  }
  
  .form-container div {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .form-container img {
    max-width: 100%;
    height: auto;
  }
  
  .header {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
  }
  
  .content {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
  }
  
form{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button{
    height: 35px;
}
input{
    height: 20px;
    margin-top: 20px;
}